<form role="form" name="form" novalidate>
  <div class="form-group">
    <label for="inputEmail">注册邮箱</label>
    <span ng-show="form.email.$error.required" class="label label-danger">必须</span>
    <input type="email" name="email" class="form-control" id="inputEmail" placeholder="输入注册邮箱" ng-model="email" required>
  </div>
  <div class="alert alert-danger" ng-show="form.email.$error.email">无效的邮箱地址
  </div>
  <div class="alert alert-danger" ng-show="isEmailNotAvailable">邮箱地址已经被注册，请选择一个新的邮箱地址
  </div>
  <div class="form-group">
    <label for="inputPassword">密码</label>
    <span ng-show="form.password.$error.required" class="label label-danger">必须</span>
    <input type="password" name="password" class="form-control" id="inputPassword" placeholder="输入密码" ng-model="password" required>
  </div>
  <div class="form-group">
    <label for="inputVerifyPassword">确认密码</label>
    <span ng-show="form.verifyPassword.$error.required" class="label label-danger">必须</span>
    <input type="password" name="verifyPassword" class="form-control" id="inputVerifyPassword" placeholder="再次输入密码" ng-model="passwordVerification" required password-verify>
  </div>
  <div class="alert alert-warning" ng-show="form.verifyPassword.$error.passwordVerify">
    两次输入密码不一致
  </div>
  <div class="alert alert-danger" ng-show="!isUserAvailable">用户名已经被注册，请选择其他用户名</div>
  <input type="submit" class="btn btn-primary" value="注册" button-disable="form.$invalid"></input>
</form>
