<button type="button" class="path-image btn btn-primary btn-lg">
  <span class="glyphicon glyphicon-star"></span> 当前任务
</button>

<ol class="breadcrumb lead" ng-controller="taskPathControl">
  <li ng-repeat="viewLink in viewModel">
    <a href="{{viewLink.link}}" ng-class="{deactive:viewLink.isDeactive}">{{viewLink.view}}</a>
  </li>
</ol>

<task-accordion heading="'基本信息'">
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label class="col-sm-1 control-label">任务简介
      </label>
      <div class="col-sm-11">
        <p class="form-control-static">{{overview.content}}</p>
      </div>
    </div>
    <div class="form-group" ng-repeat="taskDate in [beginDate, endDate]">
      <label for="task-begindate" class="col-sm-1 control-label">{{taskDate===beginDate?'开始日期': '结束日期'}}
      </label>
      <div class="col-sm-11">
        <p class="form-control-static">{{taskDate.content | date:'fullDate'}}</p>
      </div>
    </div>
  </form>
</task-accordion>

<task-accordion heading="'详细描述'">
  <div marked="detail.content"></div>
</task-accordion>

<task-accordion heading="'子任务列表'">
  <div class="panel panel-info" ng-repeat="task in subTasks">
    <div class="panel-heading">
      <a href="{{getSubTaskUrl(task.name)}}">{{task.name}}</a>
    </div>
    <div class="panel-body">{{task.overview}}</div>
  </div>
</task-accordion>

<task-accordion heading="'进度提交'">
  <div class="panel panel-info" ng-repeat="progress in progressList">
    <div class="panel-heading">
      <div class="row">
        <div class="col-sm-10">{{progress.nameCommit}}({{progress.dateCommit | date:'fullDate'}})</div>
        <div class="col-sm-2">
          <progressbar value="50" class="progressbar-text"><b>50%</b></progressbar>
        </div>
      </div>
    </div>
    <div class="panel-body">{{progress.contentCommit}}</div>
  </div>
</task-accordion>
